<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean class="top.whalefall.summerframework.test.event.ContextRefreshedEventListener"/>

    <bean class="top.whalefall.summerframework.test.event.CustomEventListener"/>

    <bean class="top.whalefall.summerframework.test.event.ContextClosedEventListener"/>

</beans>